/* src/components/Dashboard/Dashboard.css */

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  /* Optional: add some padding */
  padding: 20px;
}


/* Responsive Layout */
@media (min-width: 768px) {
  .dashboard {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dashboard > div {
    flex: 1 1 45%;
  }
}
