@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');


body {
    background-color: black;
    margin: 0; /* Optional: Removes any default margin */
    padding: 0; /* Optional: Removes any default padding */
  }

 
  h1, h2, h3 {
    font-family: "Cinzel", serif;
    color: white;
  }
  